.body2{
    display: grid;
    grid-template-columns: 1fr 6.5rem;
    padding: 0;
    margin:0;
    border-bottom:solid #272727 0.5px;

}
.body2_left{
    display: grid;
    grid-template-rows: 8.3rem 1.5fr 1.5fr 1.5fr 1.5fr 11.5rem;
}
.b2l1{
    border-bottom:solid #272727 0.5px;
    position: relative;
    

}
.text3{
    right:2rem;
    top:2.5rem;
    position: absolute;
}
.text3 p{
    font-weight: 600;
    font-size: 1.5rem;
}
.b2l2, .b2l3 ,.b2l4 ,.b2l5{
    border-bottom:solid #272727 0.5px;
    display: grid;
    grid-template-columns: 0.38fr 0.62fr;


}
.b2l2d1, .b2l3d1 , .b2l4d1 , .b2l5d1{
    border-right:solid #272727 0.5px;

}
.b2l2d1t1, .b2l3d1t1 , .b2l4d1t1 , .b2l5d1t1{
    margin-left: 7.8rem;
    margin-top: 2.5rem;
}
.b2l2d1t1 p, .b2l3d1t1 p , .b2l4d1t1 p , .b2l5d1t1 p{
    font-weight: 600;
    font-size: 1.5rem;
}
.b2l2d1t2, .b2l3d1t2 , .b2l4d1t2, .b2l5d1t2{

    margin-left: 7.8rem;
    /* margin-top: 6rem; */
    margin-bottom: 3.3rem;

}
.b2l2d1t2 ul, .b2l3d1t2 ul, .b2l4d1t2 ul, .b2l5d1t2 ul{
    padding:0%;
    list-style-position: inside;
    list-style-type: circle;
    font-family: Oxygen;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.26rem;
}
.b2l2d1t2 ul li::marker, .b2l3d1t2 ul li::marker, .b2l4d1t2 ul li::marker, .b2l5d1t2 ul li::marker
{
    color: #272727;
}

.b2l2d2t, .b2l3d2t ,.b2l4d2t, .b2l5d2t{
    margin-top: 5.31rem;
    margin-left: 3.31rem;
    margin-right: 3.25rem;
}
.b2l2d2t p, .b2l3d2t p, .b2l4d2t p, .b2l5d2t p{
    font-family: Oxygen;
    font-weight: 400;
    font-size: min(1rem);
    line-height: 1.26rem;
}
.b2l6{
    /* mix-blend-mode: multiply; */
    position: relative;

}
.building{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 50%;
    overflow: hidden;
    opacity: 70%;
    background-color: #272727;
    mix-blend-mode: multiply;
    
}
.imagespan{
    background-color: #272727;
    mix-blend-mode: multiply;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 70%;
}


.get-a-quotebutton{
    padding: 0%;
    left: 3.625rem;
    top: 3.5rem;
    margin: 0%;
    position: absolute;
    bottom: 0;
}

.get-a-quote {
    width: 370px;
    height: 73px;
    border: none;
    background-color: rgba(130, 118, 254, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    overflow: hidden;
    border-radius: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}

.button2-text {
    color: rgba(247, 249, 249, 1);
}

.button2-image {
    display: flex;
    align-items: center;
    height: 100%;
    animation: floatHorizontal 3s ease-in-out infinite;
}
@keyframes  floatHorizontal {
    0%, 100% {transform: translateX(0);}  
    50%{ transform:translateX(10px);}  
}

.body2_right{
    border-left:solid #272727 0.5px;

}